-# frozen_string_literal: true
= simple_form_for(@inventory) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :due
    %br
    =t('.User')
    %br
    = f.collection_select(:user_id, User.all, :id, :email, include_blank: false) 
    %br
    =t('.car')
    %br
    = f.collection_select(:car_id, Car.all, :id, :model, include_blank: false) 
    %br
    %br
  .form-actions
    = f.button :submit, :class =>"btn btn-secondary"
    %br
