%h1 Listing dealerships

%table.table.table-striped.table-bordered
  %thead.thead-dark
    %tr
      %th Name
      %th Address
      %th
      %th
      %th

  %tbody
    - @dealerships.each do |dealership|
      %tr
        %td= dealership.name
        %td= dealership.address
        %td= link_to 'Show', dealership
        %td= link_to 'Edit', edit_dealership_path(dealership)
        %td= link_to 'Destroy', dealership, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Dealership', new_dealership_path, class:"btn btn-secondary"
