%h1 Listing cars

%table.table.table-striped.table-bordered.table-hover
  %thead.thead-dark
    %tr
      %th Model
      %th Year
      %th Site
      %th Dealership
      %th Carstatus
      %th
      %th
      %th

  %tbody
    - @cars.each do |car|
      %tr
        %td= car.model
        %td= car.year
        %td= car.site
        %td= car.dealership.name
        %td= car.carstatus.name
        %td= link_to 'Show', car
        %td= link_to 'Edit', edit_car_path(car)
        %td= link_to 'Destroy', car, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Car', new_car_path, class:"btn btn-secondary"
